openapi : '3.0.3'
info:
  title: Wallet_Management API
  version: 1.0.0
  description: This is an API speculation about the application wallet budget STD22019/STD22059
servers:
  - url: https://walletManagement.com
paths:
  /currency:
    get:
      tags:
        - "Currency"
      summary: Get all currency
      description: Get all currency
      responses:
        200:
          description: A list of currency
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Currency"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestBody'
        403:
          description: Forbidden
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ForbiddenBody'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/InternalServerError'
    post: 
      tags:
        - "Currency"
      summary: Create a new currency
      requestBody: 
          required: true
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Currency"
      responses:
        201:
          description: A list of currency
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Currency"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestBody'
        403:
          description: Forbidden
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ForbiddenBody'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/InternalServerError'
    put:
      tags:
        - "Currency"
      summary: Save or Update currency 
      description: Save list of new currency or update if already exist
      requestBody: 
        required: true 
        description: List of the currency to save or update 
        content:
          application/json:
            schema: 
              type: array 
              items: 
                $ref: '#/components/schemas/Currency'
      responses:
        200:
          description: A list of currency
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Currency"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestBody'
        403:
          description: Forbidden
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ForbiddenBody'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/InternalServerError'
  /currency/{currencyId}:
    get:
      tags:
        - "Currency"
      summary: Get one currency
      description: Get one currency by Id
      responses:
        200:
          description: Currency details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Currency"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestBody'
        403:
          description: Forbidden
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ForbiddenBody'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/InternalServerError'
  /account:
    get:
      tags:
        - "Account"
      summary: Get all account 
      description: A list of account 
      responses:
        200:
          description: A list of account 
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Account'
        400:
          description: Bad request
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/BadRequestBody'
        403:
          description: Forbidden
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ForbiddenBody'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/InternalServerError'
    post:
      tags:
        - "Transaction"
      summary: Create a new transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Transaction"
      responses:
        '201':
          description: Transaction created successfully
        '400':
          description: Bad request
  /transactions/{transactionId}:
    parameters:
      - name: transactionId
        in: path
        required: true
        description: ID of the transaction
        schema:
          type: integer
    get:
      tags:
        - "Transaction"
      summary: Retrieve transaction details by id
      responses:
        '200':
          description: Transaction details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
        '404':
          description: Transaction not found
  /currency:
    get:
      tags:
        - Currency
      summary: Get all currency
      operationId: getAllCurrency
      description: get all currency with pagination
      responses:
        200:
          description: Currency details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Currency"
        400:
          description: Currency not found
    put:
      tags:
        - Currency
      summary: Save or Update currency
      operationId: saveOrUpdateCurrency
      description: Save list of new currency or update if already exist 
      security:
        - oauth2: [ admin ]
      requestBody:
        required: true
        description: List of the currency to save or update
        content:
          application/json: 
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Currency'
      responses:
        200:
          description: Currency details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Currency"
        400:
          description: Currency not found
    post:
      tags:
        - "Currency"
      summary: Create a new currency
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Currency"
      responses:
        '201':
          description: Currency created successfully
        '400':
          description: Bad request
  /currency/{currencyId}:
    get:
      tags:
        - Currency
      summary: Get one currency
      operationId: getOneCurrency
      description: Get one currency by a given id
      parameters:
        - in: path
          name: currencyId
          schema:
            type: string 
            format: uuid
          description: Id of the currency to get
          required: true
      responses:
        200:
          description: Currency details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Currency"
        400:
          description: Currency not found
components:
  schemas:
    Currency: 
      type: object 
      properties:
        id: 
          type: integer
          example: 1
        name: 
          type: string
          example: Euro
        code:
          type: string
          example: EUR
    BadRequestBody:
      example:
          message: BAD REQUEST
          body: null
    ForbiddenBody:
      example:
          message: FORBIDDEN
          body: null
    InternalServerError:
      example:
          message: INTERNAL SERVER ERROR  
          body: null
    Account:  
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: 'Account Name'
        balance:
          type: number
          format: double
          example: 2000.261
        currencyType:
          $ref: '#/components/schemas/CurrencyType'
        currency: 
          $ref: '#/components/schemas/Currency'
    CurrencyType:
      type: string
      enum:
        - Banque
        - Mobile Money
        - Cash
    Currency:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        name:
          type: string
          example: 'Ariary'
        code:
          type: string
          example: 'MGA'
        symbol:
          type: string
          example: 'Ar'
        exchange_rate:
          type: number
          format: float
          example: 0.0002
        updated_at:
          type: string
          format: date
          description: current_date if not specified
          example: '2023-01-01'